<h1>Welcome to Word Counting App</h1>
  <form action="/word_count">
    <div class="form-group">
       <label for="word_input">Please input a word and a sentence to search the word?
        </label>
       <input id="word_input" name="word_input" placeholder="Type the Word" class="form-control" type="String">
       <input id="sentence_input" name="sentence_input" placeholder="Type the Sentence" class="form-control" type="String">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
