<div class="container">
  <h2> Number of Times the word appears in the sentence:<h1><span><%= @output %></span></h1></h2>
</div>
    <br><br>
<div class="container">
  <h2> Number of Times the characters of the word appears in the sentence:<h1><span><%= @output1 %></span></h1></h2>
</div>
